* {
	box-sizing: border-box;
}
html,
body {
	font-family: "Lato", sans-serif;
	background: #f5f5f5;
}

/* Global Settings Start */
p {
	font-weight: 300;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.section-title {
	font-size: 4rem;
	font-weight: 900;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 25px;
	line-height: 1.5;
}
/* Global Settings End */

.header {
	position: absolute;
	top: 0;
	left: 0;
	height: 90px;
	width: 100%;
	/* background: transparent; */
	background: white;
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
  transition: all .3s ease-in-out;
}
.header .header__logo {
	color: #000000;
	font-size: 2rem;
	font-weight: 800;
	text-decoration: none;
}
.header .header__menu {
	display: flex;
	align-items: center;
	flex: 0 0 30%;
}
.header .header__menu .header__menu-link,
.header .header__menu .header__menu-link--dropdown {
	position: relative;
	display: inline-block;
	padding: 7px;
	transition: .3s ease-in-out;
}
.header .header__menu .header__menu-link a,
.header .header__menu .header__menu-link--dropdown a {
	font-size: .9rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
	color: black;
	text-decoration: none;
}
.header .header__menu .header__menu-link:hover {
	background: black;
}
.header .header__menu .header__menu-link:hover a {
	color: white;
}

/* Dropdown hover start */
.header__menu .header__menu-link--dropdown .header__dropdown-content {
	display: none;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 32px;
	left: 0;
	padding: 3px;
	background-color: #f67009;
	min-width: 150px;
	margin: 0 auto;
	z-index: 20;
}
.header__menu .header__menu-link--dropdown .header__dropdown-content .header__dropdown-link {
	display: block;
	background: white;
	padding: 3px; 
	margin-bottom: 3px;
	width: 100%;
	text-decoration: none;
	transition: .3s ease-in-out;
}
.header__menu .header__menu-link--dropdown .header__dropdown-content .header__dropdown-link:nth-last-child(1) {
	margin-bottom: 0;
}
.header__menu .header__menu-link--dropdown .header__dropdown-content .header__dropdown-link:hover {
	background: black;
}
.header__menu .header__menu-link--dropdown .header__dropdown-content .header__dropdown-link a {
	font-size: 0.9rem;
	font-weight: 300;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
}
.header__menu .header__menu-link--dropdown .header__dropdown-content .header__dropdown-link:hover a {
	color: white;
}

.header .header__menu .header__menu-link--dropdown:hover .header__dropdown-content {
	display: block;
	visibility: visible;
	opacity: 1;
}
/* Dropdown hover end */

.header .header__accounts {
	display: flex;
	align-items: center;
}
.header .header__accounts .header__accounts-link {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border: 1px solid #f5f5f5;
	transition: .3s;
}
.header .header__accounts .header__accounts-link:hover {
	background: #f5f5f5;
	border: 1px solid #f67009;
}
.header .header__accounts .header__accounts-link:hover i {
	color: #f67009;
}
.header .header__accounts .header__accounts-link i {
	color: rgb(85, 82, 82);
	font-size: 1rem;
}
.header .header__accounts .ghost-menu-btn {
	font-size: 0.9rem;
	font-weight: 700;
	background: #f4f4f4;
	color: #000000;
	padding: 10px 15px;
	margin-right: 10px;
	border-radius: 30px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #f67009;
	text-transform: capitalize;
	transition: 0.2s ease-in-out;
}
.header .header__accounts .ghost-menu-btn:hover {
	color: #000000;
	background: #f67009;
}
.header .header__accounts .menu-btn {
	font-size: 0.9rem;
	font-weight: 700;
	background: #f67009;
	color: #000000;
	padding: 10px 15px;
	border-radius: 30px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #f67009;
	text-transform: capitalize;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}
.header .header__accounts .menu-btn:hover {
	color: #f67009;
	background: #f4f4f4;
}
/* sticky menu start */
.header--sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: linear-gradient( to right top, #eff0eb, #eaebe6, #e5e7e0, #e0e2db, #dbded6 );
  display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000000;
  -webkit-box-shadow: 1px 10px 14px -4px #747474; 
	box-shadow: 1px 10px 14px -4px #747474;
	transition: all .3s ease-in-out;
}
.header--sticky .header__logo {
	color: #000000;
}
.header--sticky .header__menu ul {
	color: #000000;
}
.header--sticky .header__menu ul li a {
	color: #000000;
}
.header--sticky .header__menu ul li a:hover {
	color: #f67009;
}
/* sticky menu end */

.header .open__mobile-menu {
	padding: 10px;
	cursor: pointer;
  display: none;
}
.header-mobile {	
	position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  transform: translate3d(-100%, 0, 0);
	display: none;
  visibility: hidden;
  opacity: 0;
  transition:  all .2s ease-in-out;
}

.hero {
	position: relative;
	padding: 200px 0 100px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	/* background: green; */
	background: linear-gradient(
		to right top,
		#eff0eb,
		#eaebe6,
		#e5e7e0,
		#e0e2db,
		#dbded6
	);
}
.hero__left-column, .hero__right-column {
	height: 100%;
	width: 100%;
}
.hero__content-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 0 15px;
}
.hero__title {
	font-size: 6rem;
	font-weight: 900;
	letter-spacing: 1px;
	padding-top: 20px;
	margin-bottom: 4rem;
}
.hero__content-info p {
	min-width: 300px;
	margin-bottom: 4rem;
}
.hero__cta-btn {
	font-size: 1rem;
	font-weight: 700;
	color: #000000;
	background: #f67009;
	padding: 15px 20px;
	width: fit-content;
	border-radius: 30px;
	border: 1px solid #f67009;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}
.hero__cta-btn:hover {
	color: #f67009;
	background: #f4f4f4;
}
.hero__image-box {
	position: relative;
	height: 550px;
	width: 100%;
	display: block;
	overflow: hidden;
	background: #f4f4f4;
	border-radius: 20px;
	-webkit-box-shadow: 0px 7px 18px -4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 7px 18px -4px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 7px 18px -4px rgba(0, 0, 0, 0.7);
}
.hero__image-box img {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	font-style: italic;
	z-index: 3;
}
.hero__shape1 {
	position: absolute;
	top: 0;
	left: 0;
	height: 400px;
	width: 500px;
	transform: rotate(-25deg) translate3d(35px, 20px, 0px);
	z-index: 1;
	border-radius: 30px;
	background: linear-gradient(to right top, #f67009, #f68c37, #f6a45c, #f5bb82, #f4d0aa);
}
.hero__shape2 {
	position: absolute;
	top: 5%;
	left: 0;
	height: 400px;
	width: 500px;
	transform: rotate(-25deg) translate3d(35px, 20px, 0px);
	opacity: .5;
	z-index: 2;
	border-radius: 30px;
	background: linear-gradient(to right top, #f67009, #f68c37, #f6a45c, #f5bb82, #f4d0aa);
}


/* Collection 1 */
.collection1-section {
	display: flex;
	flex-wrap: wrap;
	/* background: red; */
	background: #f5f5f5;
	padding: 100px 0;
}

/* product item start */
.collection1__product-item {
	height: 475px;
	width: 100%;
	overflow: hidden;
	background: #f5f5f5;
	margin-bottom: 50px;
	transition: .2s ease-in-out;
}
.collection1__image-box {
	position: relative;
	background: #ebebeb;
	transition: .2s ease-in-out;
}
.collection1__image-link {
	text-decoration: none;
	outline: none;
}
.collection1__image {
	height: 350px;
	width: 100%;
	display: block;
}
.collection1__image img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	font-style: italic;
}
.collection1__label {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 5px;
	background: #008000;
	color: #f4f4f4;
	display: none;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
}

.collection1__label .sale,
.collection1__label .new {
	text-transform: capitalize;
	font-size: .8rem;
}

.collection1__label--active-new .sale {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.collection1__label--active-new {
	background: #0388f4;
	display: flex;
	visibility: visible;
	opacity: 1;
	z-index: 2;
}

.collection1__label--active-sale .new {
	display: none;
	visibility: hidden;
	opacity: 0;
}
.collection1__label--active-sale {
	background: #008000;
	display: flex;
	visibility: visible;
	opacity: 1;
	z-index: 2;
}
.collection1__link-group {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: .2s ease-in-out;
}
.collection1__product-item:hover .collection1__link-group {
	display: flex;
	visibility: visible;
	opacity: 1;
}
.collection1__link-group a {
	background: white;
	color: #000000;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	text-decoration: none;
	margin-bottom: 10px;
	transition: .2s ease-in-out;
}
.collection1__link-group a i {
	font-size: .8rem;
}
.collection1__link-group a:hover {
	background: #f67009;
	color: white;
}
.collection1__product-info {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f5f5f5;
	width: 100%;
	padding-top: 15px;
	z-index: 10;
	transition: .2s ease-in-out;
}
.collection1__product-item:hover .collection1__product-info {
	transform: translate3d(0, -63px, 0);
}
.collection1__product-vendor a {
	font-size: .7rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #9f9d9d;
	transition: .2s ease-in-out;
}
.collection1__product-vendor a:hover {
	color: #f67009;
}
.collection1__product-rating {
	font-size: .7rem;
	color: #9f9d9d;
	margin-bottom: 10px;
}
.collection1__product-rating--active {
	color: #edca03;
}
.collection1__product-title {
	margin-bottom: 10px;
}
.collection1__product-title a {
	text-decoration: none;
	text-transform: capitalize;
	color: #000000;
	transition: .2s ease-in-out;
}
.collection1__product-title a:hover {
	color: #f67009;
}
.collection1__product-price {
	color: #000000;
	font-weight: 700;
	margin-bottom: 15px;
}
.collection1__link-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.collection1__product-item .collection1__product-info .collection1__link-group {
	position: relative;
	top: 0;
	right: 0;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-bottom: 15px;
	background: transparent;
	display: none;
	visibility: hidden;
	opacity: 0;
}
.collection1__product-item .collection1__product-info .collection1__link-group a {
	background: white;
	color: #000000;
	height: 40px;
	width: 40px;
	border-radius: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	text-decoration: none;
	margin-right: 10px;
	margin-bottom: 0;
	opacity: 1;
	visibility: visible;
}
.collection1__product-item .collection1__product-info .collection1__link-group a:nth-last-child(1) {
	margin-right: 0;
}
.collection1__product-item .collection1__product-info .collection1__link-group a > .fas,
.far {
	font-size: .8rem;
}
.collection1__product-item .collection1__product-info .collection1__product-vendor {
	margin-bottom: 10px;
}
.collection1__product-item .collection1__product-info .collection1__btn-row {
	padding: 10px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: visible;
	opacity: 1;
	transition: .2s ease-in-out;
}
.collection1__product-item .collection1__product-info .collection1__btn {
	background: #f67009;
	color: #F8F9FD;
	padding: 10px 15px;
	border: 1px solid #f67009;
	border-radius: 5px;
	transition: .2s ease-in-out;
}
.collection1__product-item .collection1__product-info .collection1__btn:hover {
	opacity: .9;
	background: #F8F9FD;
	color: #f67009;
	border: 1px solid #f67009;
}
.collection1__product-item .collection1__product-info .collection1__btn .fa-shopping-cart {
	margin-bottom: 5px;
	margin-right: 5px;
	font-size: .7rem;
}

.collection1__product-item .collection1__product-info .collection1__btn .btn-text {
	text-transform: uppercase;
	font-size: .7rem;
}
/* product item end */

/* product item swatch modifier start */
.collection1__product-item--swatch {
	height: 530px;
}
.collection1__product-item--swatch .collection1__swatch-section {
	display: block;
	visibility: visible;
	opacity: 1;
}
.collection1__swatch-section {
	width: 100%;
	display: none;
	visibility: hidden;
	opacity: 0;
	background: transparent;
	transition: 0.2s ease-in-out;
	margin-bottom: 15px;
}
.collection1__swatch-group {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.collection1__swatch-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: 3px;
	margin-right: 5px;
}
.collection1__swatch-item:nth-last-child(1) {
	margin-right: 0;
}
.collection1__swatch-item-link {
	height: 40px;
	width: 40px;
	border: 2px solid transparent;
	border-radius: 3px;
	transition: .2s ease-in-out;
}
.collection1__swatch-item-link:hover {
	border: 2px solid #0388f4;
	border-radius: 3px;
}
.collection1__swatch-item-link--active {
	border: 2px solid #0388f4;
	border-radius: 3px;
}
/* product item swatch modifier end */

/* Collection 1 End */

/* Collection 2 Start */
.collection2-section {
	position: relative;
	overflow: hidden;
	padding: 100px 0;
}
.section-title {
	position: relative;
	z-index: 2;
}
.collection2__bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	transform: skew(0deg, -30deg);
	background: linear-gradient(
		to right top,
		#f67009,
		#f68c37,
		#f6a45c,
		#f5bb82,
		#f4d0aa
	);
}
.collection2__collection-item {
	position: relative;
	height: 600px;
	width: 100%;
	background: #f4f4f4;
	text-decoration: none;
	cursor: pointer;
	z-index: 2;
	margin-bottom: 25px;
	overflow: hidden;
	transition: all .2s ease-in-out;
}
.collection2__collection-item .collection2__overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
	background: rgba(0, 0, 0, 0.3);
	transition: all .2s ease-in-out;
}
.collection2__collection-item:hover .collection2__overlay {
	background: rgba(0, 0, 0, 0.7);
}
.collection2__collection-item .collection2__collection-item-link {
	height: 100%;
	width: 100%;
	display: block;
}
.collection2__collection-item .collection2__collection-item-link .collection2__collection-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.collection2__collection-item .collection2__collection-title {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f4f807;
	font-size: 4rem;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: 1;
	visibility: visible;
	z-index: 3;
	transition: all .4s ease-in-out;
}
.collection2__collection-item:hover .collection2__collection-title {
	opacity: 0;
	visibility: hidden;
}
.collection2__collection-item .collection2__collection-title-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #f4f4f4;
	font-size: 6rem;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	transition: all .4s ease-in-out;
}
.collection2__collection-item:hover .collection2__collection-title-overlay {
	opacity: 1;
	visibility: visible;
}

/* .collection2__collection-item:hover .collection2__collection-title {
	opacity: 0;
}
.collection2__collection-item:hover .collection2__overlay {
	opacity: 1;
	background: rgba(0, 0, 0, 0.9);
}
.collection2__collection-item .collection2__overlay
	h3 {
	position: relative;
	color: #f4f4f4;
	font-size: 5rem;
	font-weight: 900;
	text-transform: uppercase;
	opacity: 0;
}
.collection2__collection-item:hover .collection2__overlay
	h3 {
	opacity: 1;
}
.collection2__collection-item--left .collection2__collection-image {
	display: block;
	object-fit: cover;
	object-position: center;
}
.collection2__collection-item--right .collection2__collection-image {
	display: block;
	object-fit: cover;
	object-position: bottom;
} */
/* Collection 2 End */

/* Collection 3 Start */
.collection3-section {
	display: flex;
	flex-wrap: wrap;
	/* background: red; */
	background: #f5f5f5;
	padding: 100px 0;
}

/* product item start */
.collection3__product-item {
	height: 475px;
	width: 100%;
	overflow: hidden;
	background: #f5f5f5;
	margin-bottom: 50px;
	transition: .2s ease-in-out;
}

.collection3__image-box {
	position: relative;
	background: #ebebeb;
	transition: .2s ease-in-out;
}

.collection3__image-link {
	text-decoration: none;
	outline: none;
}

.collection3__image {
	height: 350px;
	width: 100%;
	display: block;
}

.collection3__image img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	font-style: italic;
}

.collection3__label {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 5px;
	background: #008000;
	color: #f4f4f4;
	display: none;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
}

.collection3__label .sale,
.collection3__label .new {
	text-transform: capitalize;
	font-size: .8rem;
}

.collection3__label--active-new .sale {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.collection3__label--active-new {
	background: #0388f4;
	display: flex;
	visibility: visible;
	opacity: 1;
	z-index: 2;
}

.collection3__label--active-sale .new {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.collection3__label--active-sale {
	background: #008000;
	display: flex;
	visibility: visible;
	opacity: 1;
	z-index: 2;
}

.collection3__link-group {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: .2s ease-in-out;
}

.collection3__product-item:hover .collection3__link-group {
	display: flex;
	visibility: visible;
	opacity: 1;
}

.collection3__link-group a {
	background: white;
	color: #000000;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	text-decoration: none;
	margin-bottom: 10px;
	transition: .2s ease-in-out;
}

.collection3__link-group a i {
	font-size: .8rem;
}

.collection3__link-group a:hover {
	background: #f67009;
	color: white;
}

.collection3__product-info {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f5f5f5;
	width: 100%;
	padding-top: 15px;
	z-index: 10;
	transition: .2s ease-in-out;
}

.collection3__product-item:hover .collection3__product-info {
	transform: translate3d(0, -63px, 0);
}

.collection3__product-vendor a {
	font-size: .7rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #9f9d9d;
	transition: .2s ease-in-out;
}

.collection3__product-vendor a:hover {
	color: #f67009;
}

.collection3__product-rating {
	font-size: .7rem;
	color: #9f9d9d;
	margin-bottom: 10px;
}

.collection3__product-rating--active {
	color: #edca03;
}

.collection3__product-title {
	margin-bottom: 10px;
}

.collection3__product-title a {
	text-decoration: none;
	text-transform: capitalize;
	color: #000000;
	transition: .2s ease-in-out;
}

.collection3__product-title a:hover {
	color: #f67009;
}

.collection3__product-price {
	color: #000000;
	font-weight: 700;
	margin-bottom: 15px;
}

.collection3__link-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.collection3__product-item .collection3__product-info .collection3__link-group {
	position: relative;
	top: 0;
	right: 0;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-bottom: 15px;
	background: transparent;
	display: none;
	visibility: hidden;
	opacity: 0;
}

.collection3__product-item .collection3__product-info .collection3__link-group a {
	background: white;
	color: #000000;
	height: 40px;
	width: 40px;
	border-radius: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	text-decoration: none;
	margin-right: 10px;
	margin-bottom: 0;
	opacity: 1;
	visibility: visible;
}

.collection3__product-item .collection3__product-info .collection3__link-group a:nth-last-child(1) {
	margin-right: 0;
}

.collection3__product-item .collection3__product-info .collection3__link-group a>.fas,
.far {
	font-size: .8rem;
}

.collection3__product-item .collection3__product-info .collection3__product-vendor {
	margin-bottom: 10px;
}

.collection3__product-item .collection3__product-info .collection3__btn-row {
	padding: 10px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: visible;
	opacity: 1;
	transition: .2s ease-in-out;
}

.collection3__product-item .collection3__product-info .collection3__btn {
	background: #f67009;
	color: #F8F9FD;
	padding: 10px 15px;
	border: 1px solid #f67009;
	border-radius: 5px;
	transition: .2s ease-in-out;
}

.collection3__product-item .collection3__product-info .collection3__btn:hover {
	opacity: .9;
	background: #F8F9FD;
	color: #f67009;
	border: 1px solid #f67009;
}

.collection3__product-item .collection3__product-info .collection3__btn .fa-shopping-cart {
	margin-bottom: 5px;
	margin-right: 5px;
	font-size: .7rem;
}

.collection3__product-item .collection3__product-info .collection3__btn .btn-text {
	text-transform: uppercase;
	font-size: .7rem;
}

/* product item end */

/* product item swatch modifier start */
.collection3__product-item--swatch {
	height: 530px;
}

.collection3__product-item--swatch .collection3__swatch-section {
	display: block;
	visibility: visible;
	opacity: 1;
}

.collection3__swatch-section {
	width: 100%;
	display: none;
	visibility: hidden;
	opacity: 0;
	background: transparent;
	transition: 0.2s ease-in-out;
	margin-bottom: 15px;
}

.collection3__swatch-group {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.collection3__swatch-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: 3px;
	margin-right: 5px;
}

.collection3__swatch-item:nth-last-child(1) {
	margin-right: 0;
}

.collection3__swatch-item-link {
	height: 40px;
	width: 40px;
	border: 2px solid transparent;
	border-radius: 3px;
	transition: .2s ease-in-out;
}

.collection3__swatch-item-link:hover {
	border: 2px solid #0388f4;
	border-radius: 3px;
}

.collection3__swatch-item-link--active {
	border: 2px solid #0388f4;
	border-radius: 3px;
}
/* product item swatch modifier end */

/* Collection 3 End */

/* Collection 4 Start */
.collection4-section {
	/* display: flex;
	flex-wrap: wrap; */
	padding: 100px 0;
}

.section-title {
	position: relative;
	z-index: 2;
}
.collection4__collection-item {
	position: relative;
	height: 350px;
	width: 100%;
	display: block;
	cursor: pointer;
	margin-bottom: 25px;
	transition: all .4s ease-in-out;
}
.collection4__collection-item .collection4__overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
	background: rgba(0, 0, 0, 0.3);
	transition: all .4s ease-in-out;
}
.collection4__collection-item:hover .collection4__overlay {
	background: rgba(0, 0, 0, 0.7);
}
.collection4__collection-item-link {
	height: 100%;
	width: 100%;
	display: block;
}
.collection4__collection-item-link .collection4__collection-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.collection4__collection-item .collection4__collection-title {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	opacity: 1;
	visibility: visible;
	z-index: 10;
	transition: all .4s ease-in-out;
}
.collection4__collection-item:hover .collection4__collection-title {
	opacity: 0;
	visibility: hidden;
}
.collection4__collection-item .collection4__collection-content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	transition: all .4s ease-in-out;
}
.collection4__collection-item:hover .collection4__collection-content {
	opacity: 1;
	visibility: visible;
}
.collection4__collection-item .collection4__collection-content .collection4__collection-content-title {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.collection4__collection-item .collection4__collection-content .collection4__collection-desc {
	font-size: .7rem;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.collection4__collection-item .collection4__collection-content .collection4__btn-row {
	padding: 10px 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: visible;
	opacity: 1;
	transition: .2s ease-in-out;
}

.collection4__collection-item .collection4__collection-content .collection4__btn {
	background: #f67009;
	color: #F8F9FD;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in-out;
}
.collection4__collection-item .collection4__collection-content .collection4__btn:hover {
	opacity: .9;
}
.collection4__collection-item .collection4__collection-content .collection4__btn .btn-text {
	text-transform: uppercase;
	font-size: .7rem;
}






/* .collection4__collection-item {
	position: relative;
	background: #f4f4f4;
	height: 300px;
	width: 100%;
	margin-bottom: 25px;
	text-decoration: none;
	position: relative;
} */
/* .collection4__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out;
	z-index: 1;
} */
/* .collection4__collection-item .collection4__collection-title {
	position: absolute;
	top: 60%;
	color: #f4f807;
	opacity: 1;
	font-size: 6.5rem;
	font-weight: 900;
	padding: 0 10px;
	text-transform: uppercase;
	z-index: 2;
	transition: 0.2s ease-in-out;
} */

/* .collection4__collection-item:hover .collection4__collection-title {
	opacity: 0;
} */

/* .collection4__collection-item:hover .collection4__overlay {
	opacity: 1;
	background: rgba(0, 0, 0, 0.9);
} */

/* .collection4__collection-item .collection4__overlay h3 {
	position: relative;
	color: #f4f4f4;
	font-size: 5rem;
	font-weight: 900;
	text-transform: uppercase;
	opacity: 0;
} */

/* .collection4__collection-item:hover .collection4__overlay h3 {
	opacity: 1;
} */

/* .collection4__collection-item--left .collection4__collection-image {
	display: block;
	object-fit: cover;
	object-position: center;
} */

/* .collection4__collection-item--right .collection4__collection-image {
	display: block;
	object-fit: cover;
	object-position: bottom;
} */
/* Collection 4 End */


/* Footer Start */
.footer {
	color: #f4f4f4;
	background: rgba(0, 0, 0, 0.8);
	padding: 15px 0px;
}
.footer--mobile {
	display: none;
}
.footer .footer__top-menu {
	padding-top: 40px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}
.footer .footer__top-menu .footer__menu-section {
	display: inline-block;
	margin: 0 50px;
}
.footer
	.footer__top-menu
	.footer__menu-section
	.footer__menu-title {
	font-weight: 500;
	font-size: 1.3rem;
	display: block;
	padding-bottom: 10px;
}
.footer
	.footer__top-menu
	.footer__menu-section
	.footer__menu-list
	li
	a {
	font-weight: 300;
	font-size: 0.9rem;
	display: block;
	padding-bottom: 15px;
	color: #f4f4f4;
	text-decoration: none;
	transition: 0.2s;
}
.footer
	.footer__top-menu
	.footer__menu-section
	.footer__menu-list
	li
	a:hover {
	color: #f67009;
}
.footer p {
	text-align: center;
	padding-bottom: 15px;
}
.footer .footer__social-links {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer .footer__social-links .text {
	font-size: 0.9rem;
}
.footer .footer__social-links .link {
	height: 25px;
	width: 25px;
	background: #f4f4f4;
	color: #636363;
	font-weight: 600;
	border-radius: 2px;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	text-decoration: none;
	transition: 0.3s;
}
.footer .footer__social-links .link:hover {
	background-color: #f67009;
	color: #f4f4f4;
	transform: translateY(-2px);
}
/* Footer End */

/* MEDIA QUERIES START */

/* Large devices laptops/desktops, 1200px and down */
@media (max-width: 1440px) {
}

@media (max-width: 1199px) {
	.hero__title {
		margin-bottom: 2rem;
	}
	.hero__content-info p {
		margin-bottom: 2rem;
	}
	.collection2 .collection2__collection-item .collection2__collection-title {
		font-size: 5.5rem;
	}
	
	.collection2 .collection2__collection-item .collection2__overlay h3 {
		font-size: 3.5rem;
	}
}


/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
	.header {
		padding: 0px 15px;
	}
	.header .header__menu {
		display: none;
	}
	.header .header__accounts {
		display: none;
	}
  .header .open__mobile-menu {
		display: block;
	}
	.header .open__mobile-menu .fa-bars {
		color: #000000;
		font-size: 2rem;
	}
	.header-mobile--visible {
		display: block;
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.header-mobile__inner {
		width: 75vw;
		z-index: 999;
		position: absolute;
		height: 100vh;
		height: 100%;
		display: flex;
		flex-direction: column;
		background: #f4f4f4;
		box-shadow: 1px 10px 14px -4px #747474;
	}
	.header-mobile__top {
		position: relative;
		height: 70px;
		padding: 0px 10px;
	}
	.header-mobile__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	.header-mobile__header a {
		text-decoration: none;
	}
	.header-mobile__logo {
		color: #000000;
		font-size: 2rem;
		font-weight: 900;
	}
	.header-mobile__logo:hover {
		color: #000000;
	}
	.header-mobile__close-btn {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #000000;
		cursor: pointer;
		transition: 0.2s ease-in-out;
		-webkit-box-shadow: 1px 10px 14px -4px #747474;
		box-shadow: 1px 10px 14px -4px #747474;
	}
	.header-mobile__close-btn .fa-times {
		color: #f4f4f4;
		font-size: 1.3rem;
	}
	.header-mobile__content {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}
	.mobile-menu li {
		display: block;
		margin-bottom: 15px;
	}
	.mobile-menu li .mobile-link {
		display: block;
		font-size: 1.2rem;
		text-decoration: none;
		color: #f67009;
		font-weight: 700;
		padding: 0px 0px 3px 0px;
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
	}
	.mobile-menu li .sub-menu {
		padding: 10px 0px;
	}
	.mobile-menu li .sub-menu .sub-link {
		color: #000000;
		font-weight: 500;
		font-size: 1rem;
		text-decoration: none;
		padding: 0 10px;
		line-height: 1.5;
		display: inline-block;
		transition: .2s ease-in-out;
	}
	.mobile-menu li .sub-menu .sub-link:hover {
		color: #f67009;
	}
	.hero__title {
		font-size: 4.5rem;
	}
	.hero__image-box {
		height: 450px;
	}
	.collection1__product-item,
	.collection3__product-item {
		height: 596px;
		overflow: visible;
	}
	.collection1__product-item--swatch, .collection3__product-item--swatch {
		height: 651px;
		overflow: visible;
	}
	.collection1__product-item:hover 
	.collection1__link-group,
	.collection1__product-item--swatch:hover .collection1__link-group,
	.collection3__product-item:hover 
	.collection3__link-group,
	.collection3__product-item--swatch:hover
	.collection3__link-group {
		display: none;
	}
	.collection1__product-item:hover 
	.collection1__product-info, 
	.collection1__product-item--swatch:hover
	.collection1__product-info,
	.collection3__product-item:hover 
	.collection3__product-info, 
	.collection3__product-item--swatch:hover
	.collection3__product-info {
		transform: translate3d(0, 0, 0);
	}
	.collection1__product-item 
	.collection1__product-info 
	.collection1__link-group,
	.collection1__product-item--swatch 
	.collection1__product-info 
	.collection1__link-group,
	.collection3__product-item 
	.collection3__product-info 
	.collection3__link-group,
	.collection3__product-item--swatch 
	.collection3__product-info 
	.collection3__link-group {
		display: flex;
		visibility: visible;
		opacity: 1;
	}
	.collection2__collection-item .collection2__collection-title {
		font-size: 3rem;
	}
	.collection2__collection-item .collection2__collection-title-overlay {
		font-size: 3rem;
	}
	.footer
		.footer__top-menu
		.footer__menu-section
		.footer__menu-title {
		font-size: 1rem;
	}
}

/* Start Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { 
	.hero__left-column {
		padding-bottom: 40px;
	}
	.hero__content-info {
		align-items: center;
		text-align: center;
	}
	.hero__title {
		font-size: 5rem;
	}
	.hero__right-column {
		padding-top: 40px;
		display: flex;
		justify-content: center;
	}
	.hero__image-box {
		width: 450px;
	}
	.section-title {
		font-size: 2.3rem;
	}
	/* .collection2__collection-item .collection2__collection-item-link {
		height: auto;
	} */
	.footer .footer__top-menu {
		display: none;
	}
	.footer--mobile {
		color: #f4f4f4;
		background: rgba(0, 0, 0, 0.8);
		padding: 15px 0px;
		display: block;
	}
	.footer--mobile .footer-mobile__accordian {
		padding-top: 40px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
	}
	.footer--mobile .footer-mobile__menu {
		padding: 0px 10px;
		margin-bottom: 15px;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		background-color: #242222;
		padding: 10px;
		border: none;
		outline: none;
		width: 100%;
		transition: 0.2s ease-in-out;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__title {
		color: #f4f4f4;
		font-size: 1.3rem;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__icon {
		padding: 7px;
		color: #f4f4f4;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__content {
		position: relative;
		line-height: 25px;
		height: 0px;
		overflow: hidden;
		transition: all 0.3s;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__content
		li
		a {
		color: #f4f4f4;
		display: block;
		padding: 7px;
		text-decoration: none;
		border-bottom: 1px dashed #747474;
	}
	.footer--mobile p {
		text-align: center;
		padding-bottom: 15px;
	}
	.footer--mobile .footer__social-links {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer__social-links .text {
		font-size: 0.9rem;
	}
	.footer--mobile .footer__social-links .link {
		height: 25px;
		width: 25px;
		background-color: #f67009;
		color: #f4f4f4;
		text-decoration: none;
		font-weight: 600;
		border-radius: 2px;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		transition: 0.3s;
	}
}

/* Small devices (portrait tablets and small phones, 428px) */
@media (max-width: 428px) {
	.hero__image-box {
		width: 100%
	}
	.hero__title {
		font-size: 4rem;
	}
	.collection2__collection-item .collection2__collection-title, .collection2__collection-item .collection2__collection-title-overlay {
		font-size: 3rem;
	}
	.collection2
		.collection2__collection-item
		.collection2__overlay
		h3 {
		font-size: 3rem;
	}
	
	.footer .footer__top-menu {
		display: none;
	}
	.footer--mobile {
		color: #f4f4f4;
		background: rgba(0, 0, 0, 0.8);
		padding: 15px 0px;
		display: block;
	}
	.footer--mobile .footer-mobile__accordian {
		padding-top: 40px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
	}
	.footer--mobile .footer-mobile__menu {
		padding: 0px 10px;
		margin-bottom: 15px;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		background-color: #242222;
		padding: 10px;
		border: none;
		outline: none;
		width: 100%;
		transition: 0.2s ease-in-out;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__title {
		color: #f4f4f4;
		font-size: 1.3rem;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__icon {
		padding: 7px;
		color: #f4f4f4;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__content {
		position: relative;
		line-height: 25px;
		height: 0px;
		overflow: hidden;
		transition: all 0.3s;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__content
		li
		a {
		color: #f4f4f4;
		display: block;
		padding: 7px;
		text-decoration: none;
		border-bottom: 1px dashed #747474;
	}
	.footer--mobile p {
		text-align: center;
		padding-bottom: 15px;
	}
	.footer--mobile .footer__social-links {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer__social-links .text {
		font-size: 0.9rem;
	}
	.footer--mobile .footer__social-links .link {
		height: 25px;
		width: 25px;
		background-color: #f67009;
		color: #f4f4f4;
		text-decoration: none;
		font-weight: 600;
		border-radius: 2px;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		transition: 0.3s;
	}
}

/* Extra Small devices (portrait tablets and small phones, 375px) */
@media (max-width: 375px) {
	.section-title {
		font-size: 2.3rem;
	}
}
