* {
	box-sizing: border-box;
}
html,
body {
	font-family: "Lato", sans-serif;
	background: #f5f5f5;
	max-width: 100%;
	overflow-x: hidden;
}
:root {
}

/* Global Settings Start */
.container {
	max-width: 1200px;
	margin: 0 auto;
}

p {
	font-weight: 300;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}

img {
	height: 100%;
	width: 100%;
}
.section-gap {
	padding: 200px 0px;
}
.section-title {
	font-size: 4rem;
	font-weight: 900;
	text-transform: uppercase;
	color: #000000;
	padding-bottom: 25px;
	line-height: 1.5;
}
/* Global Settings End */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	padding: 0px 25px;
  transition: .3s ease-in-out;
}
.header--sticky {
  position: fixed;
  z-index: 999;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  padding: 0px 25px;
  background: linear-gradient( to right top, #eff0eb, #eaebe6, #e5e7e0, #e0e2db, #dbded6 );
  display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000000;
  -webkit-box-shadow: 1px 10px 14px -4px #747474; 
	box-shadow: 1px 10px 14px -4px #747474;
}
.header--sticky .logo {
	color: #000000;
}
.header--sticky .menu ul {
	color: #000000;
}
.header--sticky .menu ul li a {
	color: #000000;
}
.header--sticky .menu ul li a:hover {
	color: #f67009;
}
.header .logo {
	color: #000000;
	font-size: 2rem;
	font-weight: 800;
	text-decoration: none;
}
.header .menu ul {
	display: flex;
	align-items: center;
}
.header .menu ul li {
	display: flex;
	align-items: center;
	padding: 0 10px;
}
.header .menu ul li:nth-last-child(1) {
	padding-right: 0px;
}
.header .menu ul li a {
	font-size: 0.9rem;
	text-transform: uppercase;
	color: #000000;
	transition: 0.2s ease-in-out;
	text-decoration: none;
}
.header .menu ul li a:hover {
	color: #f67009;
}
.header .menu ul li .ghost-menu-btn {
	font-size: 0.9rem;
	font-weight: 700;
	background: #f4f4f4;
	padding: 10px 15px;
	border-radius: 30px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #f67009;
	text-transform: capitalize;
	transition: 0.2s ease-in-out;
	text-decoration: none;
}
.header .menu ul li .ghost-menu-btn:hover {
	color: #000000;
	background: #f67009;
}
.header .menu ul li .menu-btn {
	font-size: 0.9rem;
	font-weight: 700;
	background: #f67009;
	padding: 10px 15px;
	border-radius: 30px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #f67009;
	text-transform: capitalize;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}
.header .menu ul li .menu-btn:hover {
	color: #f67009;
	background: #f4f4f4;
}
.header .open__mobile-menu {
	padding: 10px;
	cursor: pointer;
  display: none;
}
.header-mobile {	
	position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition:  all .2s ease-in-out;
}
.home {
	height: calc(100vh - 90px);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		to right top,
		#eff0eb,
		#eaebe6,
		#e5e7e0,
		#e0e2db,
		#dbded6
	);
}
.home .home__info-section {
	width: 50%;
	padding: 0px 25px;
}
.home .home__info-section .home__info-title {
	font-size: 8rem;
	font-weight: 900;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
.home .home__info-section p {
	min-width: 300px;
	margin-bottom: 25px;
}
.home .home__info-section .home__cta-btn {
	font-size: 1rem;
	font-weight: 700;
	color: #000000;
	background: #f67009;
	padding: 15px 20px;
	border-radius: 30px;
	border: 1px solid #f67009;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	margin-bottom: 25px;
}
.home .home__info-section .home__cta-btn:hover {
	color: #f67009;
	background: #f4f4f4;
}
.home__image-section {
	width: 50%;
	position: relative;
}
.home__image-section .home__image {
	position: absolute;
	height: auto;
	object-fit: cover;
	object-position: center;
	z-index: 2;
	transform: translate3d(0, -300px, 0);
}
.home__image-section .home__rectangle {
	position: absolute;
	height: 700px;
	width: 500px;
	z-index: 1;
	border-radius: 30px;
	transform: rotate(45deg) translate(-0%, -175px);
	background: linear-gradient(
		to right top,
		#f67009,
		#f68c37,
		#f6a45c,
		#f5bb82,
		#f4d0aa
	);
}
/* Collection 1 */
.collection1 {
	display: flex;
	flex-wrap: wrap;
}
.collection1 .collection1__product-item {
	display: block;
	text-decoration: none;
	transition: 0.2s ease-in-out;
	margin-bottom: 25px;
}

.collection1 .collection1__product-item:hover {
	-webkit-box-shadow: 5px 6px 15px 0px #000000;
	box-shadow: 5px 6px 15px 0px #000000;
}
.collection1
	.collection1__product-item
	.collection1__product-image {
	display: block;
	height: 400px;
	width: 100%;
}
.collection1
	.collection1__product-item
	.collection1__product-image
	img {
	object-fit: cover;
	object-position: center;
}
.collection1
	.collection1__product-item
	.collection1__product-info {
	margin-top: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.collection1 .collection1__product-info .product-info__top,
.collection1
	.collection1__product-info
	.product-info__center,
.collection1
	.collection1__product-info
	.product-info__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.collection1 .collection1__product-info .product-info__top,
.collection1
	.collection1__product-info
	.product-info__center {
	margin-bottom: 0.8rem;
}
.collection1
	.collection1__product-info
	.product-info__top
	.product-info__title {
  font-weight: 700;
	color: #000000;
	transition: 0.2s ease-in-out;
}
.collection1
	.collection1__product-info
	.product-info__top
	.fa-heart {
	color: #000000;
}
.collection1
	.collection1__product-info
	.product-info__top
	.fa-heart:hover {
	color: red;
}
.collection1
	.collection1__product-info
	.product-info__center
	.product-info__price {
	font-size: 0.9rem;
	color: #000000;
	margin-bottom: 0.8rem;
}
.collection1
	.collection1__product-info
	.product-info__center
	.product-info__sale{
	font-size: 0.9rem;
	color: red;
	font-weight: 700;
}
.collection1
	.collection1__product-info
	.product-info__bottom {
	justify-content: flex-start;
	margin-bottom: 0px;
}
.collection1
	.collection1__product-info
	.product-info__bottom
	.circle {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: grey;
	margin-right: 10px;
	border: 1px solid #000000;
	transition: 0.2s ease-in-out;
}
.collection1
	.collection1__product-info
	.product-info__bottom
	.circle:hover {
	padding: 1px;
	transform: scale(0.9, 0.9);
}
.collection1
	.collection1__product-info
	.product-info__bottom
	.circle--color1 {
	background: grey;
}
.collection1
	.collection1__product-info
	.product-info__bottom
	.circle--color2 {
	background: blue;
}
.collection1
	.collection1__product-info
	.product-info__bottom
	.circle--color3 {
	background: orange;
}

/* Collection 2 Start */
.collection2 {
	position: relative;
	overflow: hidden;
}
.collection2 .section-title {
	position: relative;
	z-index: 2;
}
.collection2 .collection2__bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transform: skew(0deg, -30deg);
	background: linear-gradient(
		to right top,
		#f67009,
		#f68c37,
		#f6a45c,
		#f5bb82,
		#f4d0aa
	);
}
.collection2 .collection2__collection-item {
	background: #f4f4f4;
	display: flex;
	align-items: center;
	height: 600px;
	width: 100%;
	margin-bottom: 25px;
	text-decoration: none;
	position: relative;
}
.collection2
	.collection2__collection-item
	.collection2__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out;
	z-index: 1;
}
.collection2
	.collection2__collection-item
	.collection2__collection-title {
	position: absolute;
	top: 60%;
	color: #f4f807;
	opacity: 1;
	font-size: 6.5rem;
	font-weight: 900;
	padding: 0 10px;
	text-transform: uppercase;
	z-index: 2;
	transition: 0.2s ease-in-out;
}
.collection2
	.collection2__collection-item:hover
	.collection2__collection-title {
	opacity: 0;
}
.collection2
	.collection2__collection-item:hover
	.collection2__overlay {
	opacity: 1;
	background: rgba(0, 0, 0, 0.9);
}
.collection2
	.collection2__collection-item
	.collection2__overlay
	h3 {
	color: #f4f4f4;
	font-size: 5rem;
	font-weight: 900;
	text-transform: uppercase;
	opacity: 0;
}
.collection2
	.collection2__collection-item:hover
	.collection2__overlay
	h3 {
	opacity: 1;
}

.collection2
	.collection2__collection-item--left
	.collection2__collection-image {
	display: block;
	object-fit: cover;
	object-position: center;
}
.collection2
	.collection2__collection-item--right
	.collection2__collection-image {
	display: block;
	object-fit: cover;
	object-position: bottom;
}

/* Collection 3 Start */
.collection3 {
	display: flex;
	flex-wrap: wrap;
}

.collection3 .collection3__product-item {
	display: block;
	height: auto;
	text-decoration: none;
	padding: 10px;
	transition: 0.2s ease-in-out;
	margin-bottom: 25px;
}

.collection3 .collection3__product-item:hover {
	-webkit-box-shadow: 5px 6px 15px 0px #000000;
	box-shadow: 5px 6px 15px 0px #000000;
}
.collection3 .collection3__product-item .circle-bg {
	/* display: block; */
	height: auto;
	width: 100%;
	padding-top: 100%;
	border-radius: 50%;
	position: relative;
	background: linear-gradient(
		to right top,
		#f67009,
		#f68c37,
		#f6a45c,
		#f5bb82,
		#f4d0aa
	);
	margin-bottom: 10px;
}
.collection3 .collection3__product-item .product-item__image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translate(0, 0);
}
.collection3 .collection3__product-item .product-item__image img {
	transform: scale(0.7, 0.7);
	object-fit: cover;
	object-position: center;
}

.collection3
	.collection3__product-item
	.collection3__product-info {
	margin-top: auto;
	display: flex;
	flex-direction: column;
}
.collection3
	.collection3__product-item
	.collection3__product-info
	.info {
	padding: 10px 20px;
	border-radius: 10px;
	background: linear-gradient(
		to right top,
		#eff0eb,
		#eaebe6,
		#e5e7e0,
		#e0e2db,
		#dbded6
	);
}
.collection3
	.collection3__product-item
	.collection3__product-info
	.info
	.info__title {
	display: block;
	color: #000000;
	font-size: 1.2rem;
	font-weight: 700;
	padding-bottom: 10px;
}
.collection3
	.collection3__product-item
	.collection3__product-info
	.info
	.info__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000000;
}
.collection3
	.collection3__product-item
	.collection3__product-info
	.info
	.info__bottom
	.info__cart {
	background: #f4f4f4;
	border: 1px solid #000000;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out;
}
.collection3
	.collection3__product-item
	.collection3__product-info
	.info
	.info__bottom
	.info__cart:hover {
	background: green;
}
.collection3
	.collection3__product-item
	.collection3__product-info
	.info
	.info__bottom
	.info__cart:hover
	.fa-shopping-cart {
	color: #f4f4f4;
}

/* Footer Start */
.footer {
	color: #f4f4f4;
	background: rgba(0, 0, 0, 0.8);
	padding: 15px 0px;
}
.footer--mobile {
	display: none;
}
.footer .footer__top-menu {
	padding-top: 40px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}
.footer .footer__top-menu .footer__menu-section {
	display: inline-block;
	margin: 0 50px;
}
.footer
	.footer__top-menu
	.footer__menu-section
	.footer__menu-title {
	font-weight: 500;
	font-size: 1.3rem;
	display: block;
	padding-bottom: 10px;
}
.footer
	.footer__top-menu
	.footer__menu-section
	.footer__menu-list
	li
	a {
	font-weight: 300;
	font-size: 0.9rem;
	display: block;
	padding-bottom: 15px;
	color: #f4f4f4;
	text-decoration: none;
	transition: 0.2s;
}
.footer
	.footer__top-menu
	.footer__menu-section
	.footer__menu-list
	li
	a:hover {
	color: #f67009;
}
.footer p {
	text-align: center;
	padding-bottom: 15px;
}
.footer .footer__social-links {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer .footer__social-links .text {
	font-size: 0.9rem;
}
.footer .footer__social-links .link {
	height: 25px;
	width: 25px;
	background: #f4f4f4;
	color: #636363;
	font-weight: 600;
	border-radius: 2px;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	transition: 0.3s;
}
.footer .footer__social-links .link:hover {
	background-color: #f67009;
	color: #f4f4f4;
	transform: translateY(-2px);
}
/* Footer End */

/* MEDIA QUERIES START */

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1024px) {
	.home {
		height: auto;
		padding: 25px 0px;
	}
	.home .home__info-section .home__info-title {
		font-size: 7rem;
	}
	.collection3 .collection3__product-item .circle-bg {
		height: 300px;
	}
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
	.header .logo {
		font-size: 2rem;
	}
	.header .menu {
		display: none;
	}
  .header .open__mobile-menu {
		display: block;
	}
	.header .open__mobile-menu .fa-bars {
		color: #000000;
		font-size: 2rem;
	}

	/* Mobile Menu Start */
	.header-mobile--visible {
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.header-mobile__inner {
		width: 75vw;
		z-index: 999;
		position: absolute;
		height: 100vh;
		height: 100%;
		display: flex;
		flex-direction: column;
		background: #f4f4f4;
		box-shadow: 1px 10px 14px -4px #747474;
	}
	.header-mobile__top {
		position: relative;
		height: 70px;
		padding: 0px 10px;
	}
	.header-mobile__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	.header-mobile__header a {
		text-decoration: none;
	}
	.header-mobile__logo {
		color: #000000;
		font-size: 2rem;
		font-weight: 900;
	}
	.header-mobile__logo:hover {
		color: #000000;
	}
	.header-mobile__close-btn {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #000000;
		cursor: pointer;
		transition: 0.5s ease-in-out;
		-webkit-box-shadow: 1px 10px 14px -4px #747474;
		box-shadow: 1px 10px 14px -4px #747474;
	}
	.header-mobile__close-btn .fa-times {
		color: #f4f4f4;
		font-size: 1.3rem;
	}
	.header-mobile__content {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}
	.mobile-nav li {
		display: block;
		margin-bottom: 15px;
	}
	.mobile-nav li .nav-link {
		display: block;
		font-size: 1.2rem;
		color: #f67009;
		font-weight: 700;
		padding: 0px 0px 3px 0px;
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
	}
	.mobile-nav li .nav-link:hover {
		color: #000000;
	}
	.mobile-nav li .sub-menu {
		padding: 10px 0px;
	}
	.mobile-nav li .sub-menu .sub-link {
		color: #000000;
		font-weight: 500;
		font-size: 1rem;
		text-decoration: none;
		padding: 0 10px;
		line-height: 1.5;
		display: inline-block;
		transition: .2s ease-in-out;
	}
	.mobile-nav li .sub-menu .sub-link:hover {
		color: #f67009;
	}
  /* Mobile Menu End */

	.home {
		height: auto;
		padding: 50px 0px;
	}
	.home .home__info-section .home__info-title {
		font-size: 5rem;
	}
	.home__image-section .home__image {
		min-height: 550px;
		transform: translate3d(0, -275px, 0);
	}
	.home__image-section .home__rectangle {
		transform: rotate(45deg) translate(-10%, -175px);
	}
	.collection2
		.collection2__collection-item
		.collection2__collection-title {
		font-size: 4.5rem;
	}
	.collection2
		.collection2__collection-item
		.collection2__overlay
		h3 {
		font-size: 3.5rem;
	}
	.footer
		.footer__top-menu
		.footer__menu-section
		.footer__menu-title {
		font-size: 1.2rem;
	}
}

/* Start Small Devices Phones */
@media (min-width: 429px) and (max-width: 767px) { 
  .header .logo {
		font-size: 2rem;
	}
	.header .menu {
		display: none;
	}
  .header .open__mobile-menu {
		display: block;
	}
	.header .open__mobile-menu .fa-bars {
		color: #000000;
		font-size: 2rem;
	}

	/* Mobile Menu Start */
	.header-mobile {
		position: fixed;
		z-index: 9999;
		top: 0;
    right: 0;
    bottom: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background: rgba(0, 0, 0, 0.8);
		transform: translate3d(-100%, 0, 0);
		visibility: hidden;
		opacity: 0;
    transition:  all .2s ease-in-out;
	}
	.header-mobile--visible {
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.header-mobile__inner {
		width: 75vw;
		z-index: 999;
		position: absolute;
		height: 100vh;
		height: 100%;
		display: flex;
		flex-direction: column;
		background: #f4f4f4;
		box-shadow: 1px 10px 14px -4px #747474;
	}
	.header-mobile__top {
		position: relative;
		height: 70px;
		padding: 0px 10px;
	}
	.header-mobile__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	.header-mobile__header a {
		text-decoration: none;
	}
	.header-mobile__logo {
		color: #000000;
		font-size: 2rem;
		font-weight: 900;
	}
	.header-mobile__logo:hover {
		color: #000000;
	}
	.header-mobile__close-btn {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #000000;
		cursor: pointer;
		transition: 0.3s ease-in-out;
		-webkit-box-shadow: 1px 10px 14px -4px #747474;
		box-shadow: 1px 10px 14px -4px #747474;
	}
	.header-mobile__close-btn .fa-times {
		color: #f4f4f4;
		font-size: 1.3rem;
	}
	.header-mobile__content {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}
	.mobile-nav li {
		display: block;
		margin-bottom: 15px;
	}
	.mobile-nav li .nav-link {
		display: block;
		font-size: 1.2rem;
		color: #f67009;
		font-weight: 700;
		padding: 0px 0px 3px 0px;
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
	}
	.mobile-nav li .nav-link:hover {
		color: #000000;
	}
	.mobile-nav li .sub-menu {
		padding: 10px 0px;
	}
	.mobile-nav li .sub-menu .sub-link {
		color: #000000;
		font-weight: 500;
		font-size: 1rem;
		text-decoration: none;
		padding: 0 10px;
		line-height: 1.5;
		display: inline-block;
		transition: .2s ease-in-out;
	}
	.mobile-nav li .sub-menu .sub-link:hover {
		color: #f67009;
	}
  /* Mobile Menu End */
  
	.home {
		height: auto;
		padding: 50px 0px;
	}
	.home .home__info-section {
		width: 100%;
	}
	.home .home__info-section .home__info-title {
		font-size: 5rem;
	}
	.home__image-section {
		display: none;
	}

	.section-title {
		font-size: 3rem;
	}
	.collection2
		.collection2__collection-item
		.collection2__collection-title {
		font-size: 5rem;
	}
	.collection2
		.collection2__collection-item
		.collection2__overlay
		h3 {
		font-size: 3.5rem;
	}

	/* Footer Mobile Start */
	.footer .footer__top-menu {
		display: none;
	}
	.footer--mobile {
		color: #f4f4f4;
		background: rgba(0, 0, 0, 0.8);
		padding: 15px 0px;
		display: block;
	}
	.footer--mobile .footer-mobile__accordian {
		padding-top: 40px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
	}
	.footer--mobile .footer-mobile__menu {
		padding: 0px 10px;
		margin-bottom: 15px;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		background-color: #242222;
		padding: 10px;
		border: none;
		outline: none;
		width: 100%;
		transition: 0.3s ease-in-out;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__title {
		color: #f4f4f4;
		font-size: 1.3rem;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__icon {
		padding: 7px;
		color: #f4f4f4;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__content {
		position: relative;
		line-height: 25px;
		height: 0px;
		overflow: hidden;
		transition: all 0.3s;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__content
		li
		a {
		color: #f4f4f4;
		display: block;
		padding: 7px;
		text-decoration: none;
		border-bottom: 1px dashed #747474;
	}
	.footer--mobile p {
		text-align: center;
		padding-bottom: 15px;
	}
	.footer--mobile .footer__social-links {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer__social-links .text {
		font-size: 0.9rem;
	}
	.footer--mobile .footer__social-links .link {
		height: 25px;
		width: 25px;
		background-color: #f67009;
		color: #f4f4f4;
		text-decoration: none;
		font-weight: 600;
		border-radius: 2px;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		transition: 0.3s;
	}
	/* Footer Mobile End */
}

/* Small devices (portrait tablets and small phones, 428px) */
@media (max-width: 428px) {
  .header .logo {
		font-size: 2rem;
	}
	.header .menu {
		display: none;
	}
  .header .open__mobile-menu {
		display: block;
	}
	.header .open__mobile-menu .fa-bars {
		color: #000000;
		font-size: 2rem;
	}

	/* Mobile Menu Start */
	.header-mobile {
		position: fixed;
		z-index: 9999;
		top: 0;
    right: 0;
    bottom: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background: rgba(0, 0, 0, 0.8);
		transform: translate3d(-100%, 0, 0);
		visibility: hidden;
		opacity: 0;
    transition:  all .2s ease-in-out;
	}
	.header-mobile--visible {
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.header-mobile__inner {
		width: 75vw;
		z-index: 999;
		position: absolute;
		height: 100vh;
		height: 100%;
		display: flex;
		flex-direction: column;
		background: #f4f4f4;
		box-shadow: 1px 10px 14px -4px #747474;
	}
	.header-mobile__top {
		position: relative;
		height: 70px;
		padding: 0px 10px;
	}
	.header-mobile__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	.header-mobile__header a {
		text-decoration: none;
	}
	.header-mobile__logo {
		color: #000000;
		font-size: 2rem;
		font-weight: 900;
	}
	.header-mobile__logo:hover {
		color: #000000;
	}
	.header-mobile__close-btn {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #000000;
		cursor: pointer;
		transition: 0.3s ease-in-out;
		-webkit-box-shadow: 1px 10px 14px -4px #747474;
		box-shadow: 1px 10px 14px -4px #747474;
	}
	.header-mobile__close-btn .fa-times {
		color: #f4f4f4;
		font-size: 1.3rem;
	}
	.header-mobile__content {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}
	.mobile-nav li {
		display: block;
		margin-bottom: 15px;
	}
	.mobile-nav li .nav-link {
		display: block;
		font-size: 1.2rem;
		color: #f67009;
		font-weight: 700;
		padding: 0px 0px 3px 0px;
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
	}
	.mobile-nav li .nav-link:hover {
		color: #000000;
	}
	.mobile-nav li .sub-menu {
		padding: 10px 0px;
	}
	.mobile-nav li .sub-menu .sub-link {
		color: #000000;
		font-weight: 500;
		font-size: 1rem;
		text-decoration: none;
		padding: 0 10px;
		line-height: 1.5;
		display: inline-block;
		transition: .2s ease-in-out;
	}
	.mobile-nav li .sub-menu .sub-link:hover {
		color: #f67009;
	}
  /* Mobile Menu End */

  .home {
    height: auto;
    padding: 50px 0px;
  }
  .home .home__info-section {
    width: 100%;
  }
  .home .home__info-section .home__info-title {
    font-size: 5rem;
  }
  .home__image-section {
    display: none;
  }
	.collection2
		.collection2__collection-item
		.collection2__collection-title {
		font-size: 5rem;
	}
	.collection2
		.collection2__collection-item
		.collection2__overlay
		h3 {
		font-size: 4rem;
	}
	.section-title {
		font-size: 3.2rem;
	}

  /* Footer Mobile Start */
	.footer .footer__top-menu {
		display: none;
	}
	.footer--mobile {
		color: #f4f4f4;
		background: rgba(0, 0, 0, 0.8);
		padding: 15px 0px;
		display: block;
	}
	.footer--mobile .footer-mobile__accordian {
		padding-top: 40px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
	}
	.footer--mobile .footer-mobile__menu {
		padding: 0px 10px;
		margin-bottom: 15px;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		background-color: #242222;
		padding: 10px;
		border: none;
		outline: none;
		width: 100%;
		transition: 0.3s ease-in-out;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__title {
		color: #f4f4f4;
		font-size: 1.3rem;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__icon {
		padding: 7px;
		color: #f4f4f4;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__content {
		position: relative;
		line-height: 25px;
		height: 0px;
		overflow: hidden;
		transition: all 0.3s;
	}
	.footer--mobile
		.footer-mobile__accordian
		.footer-mobile__menu
		.footer-mobile__content
		li
		a {
		color: #f4f4f4;
		display: block;
		padding: 7px;
		text-decoration: none;
		border-bottom: 1px dashed #747474;
	}
	.footer--mobile p {
		text-align: center;
		padding-bottom: 15px;
	}
	.footer--mobile .footer__social-links {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer__social-links .text {
		font-size: 0.9rem;
	}
	.footer--mobile .footer__social-links .link {
		height: 25px;
		width: 25px;
		background-color: #f67009;
		color: #f4f4f4;
		text-decoration: none;
		font-weight: 600;
		border-radius: 2px;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		transition: 0.3s;
	}
	/* Footer Mobile End */
}

/* Extra Small devices (portrait tablets and small phones, 375px) */
@media (max-width: 375px) {
	.home .home__info-section .home__info-title {
		font-size: 4rem;
	}
	.section-title {
		font-size: 2.7rem;
	}
	.collection2
		.collection2__collection-item
		.collection2__collection-title {
		font-size: 4rem;
	}
	.collection2
		.collection2__collection-item
		.collection2__overlay
		h3 {
		font-size: 3rem;
	}
}
